<%= form_for @user do |f| %>

  <div class="field">
     <%= f.label :first_name %><br />
     <%= f.text_field :first_name %>
  </div>

  <div class="field">
     <%= f.label :last_name %><br />
     <%= f.text_field :last_name %>
  </div>

  <div class="field<%= @user.errors.messages[:email]? " error-field": ""%>">
     <%= f.label :email %><br />
     <%= f.text_field :email %>
     <% if @user.errors.messages[:email].length > 0 %>
       <p class="form-errors">Email <%= @user.errors.messages[:email] %></p>
     <% end %>
  </div>

  <div class="field<%= @user.errors.messages[:password]? " error-field": ""%>">
     <%= f.label :password %><br />
     <%= f.password_field :password %>
     <% if @user.errors.messages[:password].length > 0 %>
       <p class="form-errors">Password <%= @user.errors.messages[:password].first %></p>
     <% end %>
  </div>
  <div class="field<%= @user.errors.messages[:password_confirmation]? " error-field": ""%>">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation %>
     <% if @user.errors.messages[:password_confirmation] %>
       <p class="form-errors">Password confirmation <%= @user.errors.messages[:password_confirmation] %></p>
     <% end %>
  </div>

  <div class="field">
     <%= f.submit %>
  </div>

<% end %>
