<h1>user show view</h1>


<% @projects.each do |project| %>
<h1>
  <a href="/projects/<%=project.id%>">
<%= project.title %>
</a>
</h1>
<h2>
  <%= project.description %>
</h2>

<figure class="project-image">
<% if project.image.present? %>
  <%= image_tag project.image %>
<% end %>

<% if project.picture.present? %>
  <%= image_tag project.picture %>
  <% end %>
</figure>

<h3>
  <%= project.goal %>
</h3>

<p>This project was created on <%= project.start_date %></p>
<p>Funding window will close on <%= project.end_date %></p>

<% end %>
